<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Login:</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
	<link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">
	<link rel="stylesheet" th:href="@{/css/aos.css}">

	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
	</br>
	</br>
	</br>
	<h1 style="text-align: center;"><b>Login.</b></h1>
	<section class="banner-area  blog-page text-center">
		<div class="banner">
			<div class="container ">
				<div class="row fill_height">
					<div class="col-lg-6 offset-lg-3 fill_height">
						<div class="banner_content">

							<!-- Success message -->
							<div th:if="${param.success}">
								<div class="alert alert-info">
									You've successfully registered to Farcast.
								</div>
							</div>
							<form th:action="@{/login}" class="panel-body" method="post">
								<!-- Error message -->
								<div th:if="${param.error}">
									<div class="alert alert-danger">
										Invalid username or password.
									</div>
								</div>

								<!-- Error message -->
								<div th:if="${param.logout}">
									<div class="alert alert-info">
										You have been logged out.
									</div>
								</div>

								<div class="form-group">
									<input type="text" id="user_name" placeholder="User name"
										class="form-control" name="username" autofocus="autofocus" />
								</div>

								<div class="form-group">
									<input type="password" id="password" placeholder="Password" class="form-control"
										name="password" autofocus="autofocus" />
								</div>

								<button type="submit" class="btn btn-warning py-2 px-5" name="login-sibmit"
									id="login_submit">Sign
									in</button>
								<div class="line line-dashed"></div>
								<p>Don't have an account? <a th:href="@{/registration}"
										style="color:deepskyblue">Register here</a></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<script th:src="@{/js/jquery.waypoints.min.js}"></script>
	<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
	<script th:src="@{/js/jquery.fancybox.min.js}"></script>
	<script th:src="@{/js/jquery.easing.1.3.js}"></script>
	<script th:src="@{/js/aos.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>